*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#f3f6fb;
    color:#222;
}

.container{
    max-width:450px;
    margin:25px auto;
    padding:15px;
}

h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:5px;
}

.subtitle{
    text-align:center;
    color:#777;
    margin-bottom:20px;
}

.card{
    background:#fff;
    border-radius:18px;
    padding:18px;
    margin-bottom:18px;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

h2,h3{
    text-align:center;
    margin-bottom:15px;
}

label{
    display:block;
    margin-top:12px;
    margin-bottom:6px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:16px;
    background:white;
}

.row{
    display:flex;
    gap:10px;
}

.row select{
    flex:1;
}

button{
    width:100%;
    margin-top:15px;
    padding:15px;
    border:none;
    border-radius:14px;
    background:#2563eb;
    color:white;
    font-size:17px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

#saveNow{
    background:#16a34a;
}

#saveNow:hover{
    background:#15803d;
}

#lastDose,
#elapsed,
#nextDose,
#remaining{
    text-align:center;
    font-size:24px;
    font-weight:bold;
    color:#2563eb;
}

#elapsed{
    color:#16a34a;
}

#nextDose{
    color:#ea580c;
}

#remaining{
    color:#dc2626;
}
